header {
    background-color: yellowgreen;
}

body {
    background-color: silver;
}

footer {
    background-color: yellowgreen;
}

hr {
    background-color: black;
    height: 2px;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.page-title {
    font-family:'Courier New', Courier, monospace;
    font-style: bold;
}

.selfie {
    border-style: solid;
    border-color: slateblue;
    width: 25%;
    height: auto;
}