@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');

header {
	display: block;
	background-color: yellowgreen;
	color: black;
	font-family: 'Stick No Bills', sans-serif;
	font-style: bold;
    font-size:xx-large;
    padding-top: 3%;
    border-radius: 25px;
	justify-content: center;
	text-align: center;
}

h1 {
	padding-bottom: 2%;
}

.selfie {
	box-shadow: 10px 10px 20px rgb(39, 39, 39);
	max-height: 300px;
	float: right;
	margin-right: 15%;
	
}

main {
	background-color: white;
    margin-left: 2%;
	color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
	height: 100%;
}

footer {
	background-color: yellowgreen;
	color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
	text-align: center;
    padding-top: 1%;
	padding-bottom: 1%;
    border-radius: 25px;
}

hr {
	background-color: black;
	height: 2px;
}

h2 {
	margin: 0;
}

.last-updated {
	color: indigo;
}