@media only screen and (max-width: 1250px) and (min-width: 580px) {
    /*Main*/
    main {
        margin-left: 0px;
        margin-right: 0px;
    }

    h2 {
        margin-left: 2%;
        margin-top: 4%;
    }

    /*City Cards*/
    .cards {
        display: inline;
    }

    .cards section {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .cards .motto {
        margin-top: .5%;
        margin-bottom: 6%;
    }

    .cards section img {
        margin: 0;
    }

    .cards section:nth-child(even) div {
        grid-column: 2;
        
    }

    .cards section:nth-child(even) img {
        grid-column: 1;
        grid-row: 1;
    }



    /*Footer*/
    footer {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .contact-info {
        font-size: large;
    }

    .social-media img {
        height: 50px;
    }
}